*.exe
*.o
*.i
*.elf
*.gba
*.gba.bak
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
tools/poryscript
*.map
*.ld
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.project.cfg
.vscode/
*.a
.fuse_hidden*
*.sna
agbcc/
*.bak
tools/poryscript/poryscript
pokeemerald-0.png
pokeemerald-1.png
pokeemerald-2.png
pokeemerald-3.png
pokeemerald-4.png
pokeemerald-5.png
pokeemerald-6.png
pokeemerald-7.png
pokeemerald-8.png
pokeemerald-9.png
src/data/pokemon/base_stats-inclement.h
generators.py
poryscript
